main{
    background-color: red;
    height: calc(100vh - 4.375rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.left-column{
width: 40%;
height: 100%;
background-color: whitesmoke;
padding: 1rem ;
}

.hero{
width: 100%;
height: 100%;
background-color: white;
padding: 1rem ;
}

.right-column{
width: 40%; 
height: 100%;
background-color: whitesmoke;
padding: 1rem ;
}


@media (max-width: 768px) {
.left-column, .right-column{
    display: none;
}


}