main{
    background-color: red;
    /* border: 2px solid green; */
    height: calc(100vh - 4.375rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.left-column{
    width: 40%;
transition: .3s; 
height: 100%;
background-color: whitesmoke;
padding: 1rem ;
}

.left-column.active{
width: 5rem;    
}

.toggle-left-menu{
    display: flex; /* Now it's invisible but in mobile view it will be visible */
    flex-direction: column;
    justify-content: space-around;
    height: 2rem;
    width: 2rem;
    /* margin: 0rem 2rem; */
    /* border: 1px solid white; */
}

.toggle-left-menu span {
    content: '';
    height: 3px;
    width: 2rem;
    background: #333;
    border-radius: .1rem;
}

/* -- */
.left-menu-content{   
    transition: .3s;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    /* border: 1px solid red; */
    opacity: 1;
    background-color: rgba(180, 180, 180, 0.1);
    border-radius:5px;
    padding:7px;
   
    
}
.left-menu-content.active{

     width:fit-content;
    transform:translateX(-110%);
    opacity:0;
} 




.left-menu-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    max-width:100%;
}

.left-menu-content ul li {
    transition: all ease .2s;
    /* padding: .7rem; */
    border-radius: .4rem;
}
.left-menu-content ul li:hover{
    
    background-color: white;
}

.left-menu-content li a {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
    display:block;
    padding:.7rem;
}




.hero{
width: 100%;
height: 100%;
background-color: white;
padding: 1rem ;
overflow-x: hidden;

}

.hero .banner{
    background-color: #333;
    height: 50vh;
    border-radius: 1rem;
}

.hero .banner h3{
    color: white;
    display: flex;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}
.right-column{
    width: 40%;

height: 100%;
background-color: whitesmoke;
padding: 1rem ;
 transition: .3s;
  
}
.right-column.active{
    /* width: 5rem; */
width: 5rem;    
}

@media (max-width: 768px) {
.left-column, .right-column{
    display: none;
}


}
